
/* Setting up the theme */
body {
    background-color: #F7FFFE;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #394855;    
}

h1 {
    font-size: 7.5vw;
}

h2 {
    font-size: 3.5vw;
}

/* Sections of the Website */

/* Navigation bar */

.navbar-nav {
    font-size: 20px;
}

#main {
    width: 95%;
}

/* Main about section */

#training_banner{
    margin-top: 50px;
    background-color: #8BAFCE;
    height: 846px;
    width: 91%;
    margin: 0 auto;
}

/* Main about section Banner */

#training_inner_div {
    padding-top: 75px;
    margin: 0 auto;
}

/* Banner image */
#training_image{
    background: url(../../../images/training_program_banner.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-height: 438px;
    padding: 0;
    border: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* Banner header and text */
#training_image h1, #training_inner_div p {
    text-align: center;
    color: white;
}

/* Centering header */
#training_image h1 {
    margin-top: -5%;
}

/* Centering blurb */
#training_inner_div p {
    max-width: 80%;
    font-size: 30px;
    margin: 50px auto 0;
}

/* Training programmes section */
#training_programmes {
    min-height: 900px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 91%;
    margin: 0 auto;
}

/* creating boundries for this section */
#training_programmes_inner_div {
    height: 900px;
    width: 97%;
}

/* the left hand section of the training programmes section */
#training_cards_container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
}

.training_card h3 {
    color: #5AA0D3;
}

.training_card {
    position: absolute;
    height: 15rem;
}

.training_card > img {
    height: 25vw;
    min-height: 300px;
    -webkit-box-shadow : 0px 0px 50px #000000;
            box-shadow : 0px 0px 50px #000000;
}

.training_card:nth-child(1) {
    margin: 15% 0 0 15%;
    z-index: 3;
}

.training_card:nth-child(2) {
    margin: 10% 0 0 10%;
    z-index: 2;
    -webkit-filter: blur(4px);
            filter: blur(4px);
}

.training_card:nth-child(3) {
    margin: 5% 0 0 5%;
    z-index: 1;
    -webkit-filter: blur(4px);
            filter: blur(4px);
}

.training_card > div {
    z-index: -1;
    position: absolute;
    top: 0;
}

/* the right hand section of the training programmes section */
#option_button_containers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
}

#option_button_containers div{
    margin-top: 150px;
}

#option_button_containers div a {
    text-decoration: none;
    color: #707070;
}

#option_button_containers div ol {
    text-align: right;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    float: right;
}

#option_button_containers div li {
    font-size: 20px;
    margin: 15px 0 15px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #707070;
}

#option_button_containers h2 {
    color: #5AA0D3;
    font-size: 65px;
}


/* Footer */
#footer { /* Using an ID instead of tag selector method because of CSS specificity */
    display: block;
    margin: 0 auto;
    background-color: #394855;
    width: 91%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
}


#footer h1 {
    /* Centering H1 Headings*/
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 25px;

    /* Adding padding at the bottom for the 'love to hop' heading */
    padding-bottom: 15px;
}


#footer div h1 {
    color: #FEB0D7;

    /* removing padding from the Membership heading in the footer section */
    padding: 0;
}

#footer h1, #footer p {
    color: white;
}

#footer p {
    width: 50%;
    margin: 0 auto;
}

#footer a {
    /* Getting so it will only have width which covers how long the text is */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    /* Centering button */
    display: block;
    margin: 0 auto;

    /* Getting rid of underline */
    text-decoration: none;
}

#get_member_ship {
    margin-top: 25px;
    /* Creating the shape of the buttons */
    padding: 25px 60px;
    border-radius: 25px;

    /* Colors for the Button */
    color: white !important; /* Since there is another css tag below telling h3 to be a different color I need to increase the priority for this css rule */
    background-color: #FEB0D7;
    -webkit-box-shadow: 2px 2px #FF7EBF;
            box-shadow: 2px 2px #FF7EBF;
}

#get_member_ship:hover {

    /* Change color when the mouse hovers over*/
    color: #8BAFCE !important; /* Since there is another css tag below telling h3 to be a different color I need to increase the priority for this css rule */
    background-color: #DAEDFF;
    -webkit-box-shadow: 2px 2px #8BAFCE;
            box-shadow: 2px 2px #8BAFCE; /* Give the button 3d shape*/
}

/* Inner div containers */
#footer div {
    /* Row inner containers inside the footer section have their margins and padding removed */
    margin: 0;
    padding: 0;
}

#footer div div{
    /* Vertically aligning all divs inside the inner div containers inside the footer to be vertically centered*/
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
}

/* Sub headings for each column */
#footer h3{
    color: #8BAFCE;
    font-size: 2.5vw;
}

/* Setting up contact information */
#footer li, #footer ul {
    /* Setting color text */
    color: #DAEDFF;

    /* Getting rid of the default browser settings for listed items and unordered list */
    list-style-type: none;
    padding: 0;
    margin: 0;
}
